@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$golden: #ffbb00;
$thunder: #007bc5;
$background: #bcbcbc;
$green: #71ab3e;
$footer-header: #2d363b;
$selected-game: #606970;
$game-background: #4f5961;

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $background;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app-left {
    width: 760px;
}

.app-right {
    .box {
        height: 840px;
        width: 330px;
        margin-left: -165px;
    }
}

#shotchart-score {
    width: 760px;
    height: 110px;
    background-color: white;
}

#shotchart-score-row {
    overflow: auto;
    width: inherit;
    display: flex;
    justify-content: center;
}

/*
.header-divider {
     border-left:1px solid lightgrey; 
     height:46px;
}
*/

.time-place {
    text-align: center;
    width: 138px;
    display: inline-block;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.team {
    display: inline-block;
    width: 265px;

    #golden-state {
        padding-left: 20px;
    }

    #thunder {
        padding-right: 20px;
    }

    .score {
        font-size: 4em;
        font-weight: bold;
    }
}

.team:first-child {
    margin-right: 30px;
}

.team:last-child {
    margin-left: 30px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.shotchart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.play {
    background-color: lightgrey;
    text-align: center;
    height: 20px; 
}

.stats {
    display: flex;
    flex-direction: column;
}

.stat {
    height: 100px;
    width: 100px;
}

.chart {
    background-image: url("../images/shotchart.png");
    width: 400px;
    height: 230px;
    text-align: center;
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position-y: 30px;
}

.bottom-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.box {
    width: 375;
    height: 400px;
    text-align: center;
    background-color: white;
    h2 {
        background-color: black;
        color: white;
        margin: 0px;
    }
}

.mascot {
        font-size: 2em;
        font-weight: bold;
}

#golden-state {
    color: $golden;
    .score {
        margin-left: 50px;
        margin-top: -15px;
    }
    .location .mascot {
        margin-top: 5px;
        margin-left: 5px;
    }
}

#thunder {
    color: $thunder;
    .score {
        margin-right: 50px;
        margin-top: -15px;
    }
}

.footer {
    height: 90px;
    background-color: $game-background;
    width: 100%;
}

.league {
    display: flex;
    flex-direction: row;
    height: 20px;
    background-color: $footer-header;
    width: 100%;
    padding-left: 20px;
    
    div {
        width: 150px;
        height: 18px;
        color: white;
        background-color: $footer-header;
        padding-left: 15px;
        border: 1px solid black;
    }
}

#selected-league {
    background-color: $green;
    font-weight: bold;
}

.arrow-left {
    width: 20px;
    height: 75px;
    background-color: $game-background;
}

.games {
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: $game-background;
    #selected {
        width: 560;
        background-color: $selected-game;
    }

    .not-selected {
        width: 110px;
        border-right: 1px solid white;
    }
}

.selected-score {
     span {
        margin-left: 15px;
     }
}

