@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$golden: #ffbb00;
$thunder: #007bc5;

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app-left {
    width: 775px;
}

.app-right {
    .box {
        height: 800px;
    }
}

.shotchart-score {
  display: flex;             
  flex-direction: row;            
  flex-wrap: nowrap;              
  justify-content: space-between;
  background-color: lightyellow;
}
/*.shotchart-score > div {
    width: 200px;
    height: 200px;
    border: 2px dashed red;
}*/

.time-place {
    text-align: center;
}

.team {
    display: inherit;
}

.shotchart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play {
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stat {
    height: 100px;
    width: 100px;
}

.chart {
    background-image: url("../images/shotchart.png");
    width: 400px;
    height: 230px;
    text-align: center;
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position-y: 30px;
}

.bottom-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 375;
    height: 400px;
    text-align: center;
    background-color: lightgray;
    h2 {
        background-color: black;
        color: white;
        margin: 0px;
    }
}

.score {
    font-size: 4em;
    font-weight: bold;
}

.mascot {
        font-size: 2em;
}

#golden-state {
    color: $golden;
    .score {
        margin-left: 50px;
        margin-top: -15px;
    }
    .location .mascot {
        margin-top: 5px;
        margin-left: 5px;
    }
}

#thunder {
    color: $thunder;
    .score {
        margin-right: 50px;
        margin-top: -15px;
    }
}