body {
  font-family: 'helvetica';
  background-color: #bcbcbc;
  font-size: 16px; }

.app {
  margin: auto;
  overflow: hidden;
  width: 1100px; }

.app-left {
  width: 760px;
  float: left; }

.app-right {
  float: left;
  margin-left: 10px; }
  .app-right .box {
    height: 840px;
    width: 330px; }

#shotchart-score {
  width: 760px;
  height: 110px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#shotchart-score-row {
  overflow: hidden;
  width: inherit;
  display: flex;
  justify-content: center;
  padding-top: 25px; }

.time-place {
  text-align: center;
  width: 138px;
  display: inline-block;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
  color: #666;
  font-size: 0.8em; }
  .time-place #time {
    color: black;
    margin-bottom: 8px;
    font-weight: bold; }
  .time-place #time, .time-place #stadium, .time-place #location {
    display: block; }

.team {
  display: inline-block;
  width: 265px;
  vertical-align: middle; }
  .team #golden-state {
    padding-left: 20px; }
  .team #thunder {
    padding-right: 20px; }
  .team .city {
    margin-top: 12px;
    text-transform: uppercase; }
  .team .mascot {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase; }
  .team .score {
    font-size: 3.5em;
    font-weight: bold; }

.team:first-child {
  margin-right: 30px; }

.team:last-child {
  margin-left: 30px;
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.shotchart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.play {
  background-color: #f2f2f2;
  text-align: center;
  height: 20px;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1.8em; }

.stats {
  display: flex;
  flex-direction: column;
  margin: auto; }

.stat {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 12px; }
  .stat .stat-name {
    display: block;
    color: #666; }
  .stat .stat-value {
    display: block;
    font-size: 1.3em; }

.stat:last-child {
  border: none; }

.chart {
  text-align: center; }

.shotchart-image {
  width: 400px;
  height: 230px; }

#shot-selector {
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8em; }

.bottom-box-container {
  margin-top: 10px;
  overflow: auto; }
  .bottom-box-container .box:first-child {
    margin-right: 5px; }
  .bottom-box-container .box:last-child {
    margin-left: 5px; }

.box {
  width: 375px;
  height: 400px;
  float: left;
  text-align: center;
  background-color: white; }
  .box .box-title {
    background-color: black;
    color: white;
    margin: 0px;
    display: block;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 0.8em; }

.golden-state-font-color {
  color: #ffbb00; }

.thunder-font-color {
  color: #007bc5; }

.footer {
  height: 90px;
  background-color: #4f5961;
  width: 100%;
  bottom: 10px;
  left: 0;
  position: fixed; }

.league {
  height: 26px;
  background-color: #2d363b;
  padding-left: 20px; }
  .league ul {
    padding: 0;
    margin: 0; }
    .league ul li {
      list-style: none;
      float: left; }
    .league ul a {
      text-decoration: none;
      color: #6d7579;
      padding-left: 15px;
      padding-right: 100px;
      height: 26px;
      line-height: 28px;
      display: block;
      font-size: 0.9em;
      border-right: 1px solid #4c5458; }
  .league .active {
    background-color: #71ab3e;
    font-weight: bold;
    color: white; }

#navigate-left {
  width: 20px;
  height: 75px;
  background-color: #4f5961;
  cursor: pointer; }

#navigate-right {
  width: 20px;
  height: 75px;
  cursor: pointer;
  right: 0;
  position: absolute; }

.games {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #4f5961; }
  .games #selected {
    padding-top: 10px;
    padding-right: 35px;
    color: white;
    background-color: #616a71; }
  .games .not-selected {
    width: 110px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #a7acb0;
    border-right: 1px solid #7b8389; }
    .games .not-selected .team-row {
      overflow: auto; }
    .games .not-selected .team-score {
      font-weight: bold;
      float: right; }
    .games .not-selected .game-info {
      font-size: 0.75em;
      display: block;
      margin-top: 5px; }

#selected-score {
  width: 145px;
  overflow: auto;
  float: left; }
  #selected-score span {
    margin-left: 15px; }
  #selected-score .mascot {
    text-transform: uppercase;
    font-size: 0.9em; }
  #selected-score .score {
    float: right;
    font-weight: bold; }
  #selected-score #game-info {
    font-size: 0.75em;
    margin-top: 10px;
    display: block;
    margin-top: 5px; }

.game-player-stats {
  display: inline-block;
  overflow: auto;
  margin-left: 35px; }
  .game-player-stats .team-initials {
    float: left;
    display: block;
    font-weight: bold;
    font-size: 0.75em; }
  .game-player-stats .player-info {
    float: left;
    display: block;
    margin-left: 20px; }
  .game-player-stats .player-name {
    display: block;
    font-weight: bold;
    font-size: 0.95em; }
  .game-player-stats .player-stats {
    display: block;
    font-size: 0.75em; }

.bold-text {
  font-weight: bold; }

#shot-selector .caret {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -8px; }

#shot-selector .caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 6px solid #000000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; }

#shot-selector .caret:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0;
  border-top: 3px solid #eeeeee;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent; }

#navigate-left .caret {
  position: relative;
  margin-top: 30px;
  margin-left: 5px; }

#navigate-left .caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-right: 6px solid #a7acb0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

#navigate-left .caret:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  border-right: 5px solid #4f5961;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; }

#navigate-right .caret {
  position: relative;
  margin-top: 30px;
  margin-left: 5px; }

#navigate-right .caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 6px solid #a7acb0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; }

#navigate-right .caret:after {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  border-left: 5px solid #4f5961;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; }

@media (max-width: 1124px) {
  .app {
    width: 100%; }
  .app-left {
    float: none;
    margin: auto; }
  .app-right {
    margin: 10px auto;
    float: none;
    width: 760px; }
    .app-right .box {
      height: 840px;
      width: 760px; } }

@media (max-width: 800px) {
  .app-left {
    width: 100%; }
  .app-right {
    width: 100%; }
  #shotchart-score {
    width: 100%;
    height: inherit;
    min-height: 110px; }
  .shotchart {
    display: block; }
  .team .score {
    font-size: 2.3em; }
  .team {
    width: inherit; }
  .team:first-child .team-info {
    text-align: right; }
  .team:first-child .team-info {
    margin-left: 10px; }
  .team:first-child .city {
    margin-left: 5px; }
  .team:last-child .team-info {
    text-align: left; }
  .team:last-child .team-info {
    margin-right: 10px; }
  .team:last-child .city {
    margin-right: 5px; }
  .team-info {
    width: 110px;
    height: 60px; }
    .team-info .city {
      font-size: 0.9em; }
    .team-info .mascot {
      font-size: 0.9em; }
  .box {
    width: 100% !important;
    margin: 0 !important; }
  .footer {
    position: relative;
    height: inherit; }
    .footer .games {
      height: inherit; }
  .league ul li a {
    padding-right: 20px; }
  .game-player-stats {
    margin-left: 15px;
    margin-top: 5px; }
  .not-selected .team-score {
    float: none !important; }
  .time-place {
    padding-left: 5px;
    padding-right: 5px; } }

@media (max-width: 375px) {
  .shotchart-image {
    width: 350px; } }
