@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  font-family: 'helvetica';
  background-color: #bcbcbc;
  font-size: 16px; }

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.app-left {
  width: 760px; }

.app-right .box {
  height: 840px;
  width: 330px;
  margin-left: -165px; }

#shotchart-score {
  width: 760px;
  height: 110px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#shotchart-score-row {
  overflow: auto;
  width: inherit;
  display: flex;
  justify-content: center;
  padding-top: 25px; }

/*
.header-divider {
     border-left:1px solid lightgrey; 
     height:46px;
}
*/
.time-place {
  text-align: center;
  width: 138px;
  display: inline-block;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  color: #666;
  font-size: 0.8em; }
  .time-place #time {
    color: black;
    margin-bottom: 8px; }
  .time-place #time, .time-place #stadium, .time-place #location {
    display: block; }

.team {
  display: inline-block;
  width: 265px;
  vertical-align: middle; }
  .team #golden-state {
    padding-left: 20px; }
  .team #thunder {
    padding-right: 20px; }
  .team .city {
    margin-top: 12px;
    text-transform: uppercase; }
  .team .mascot {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase; }
  .team .score {
    font-size: 3.5em;
    font-weight: bold; }

.team:first-child {
  margin-right: 30px; }

.team:last-child {
  margin-left: 30px;
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.shotchart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.play {
  background-color: lightgrey;
  text-align: center;
  height: 20px;
  text-transform: uppercase;
  font-size: 0.7em;
  line-height: 1.8em; }

.stats {
  display: flex;
  flex-direction: column;
  margin: auto; }

.stat {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding-bottom: 8px;
  margin-top: 10px; }
  .stat .stat-name {
    display: block;
    color: #666; }
  .stat .stat-value {
    display: block;
    color: #ffbb00;
    font-size: 1.3em; }

.stat:last-child {
  border: none; }

.chart {
  background-image: url("../images/shotchart.png");
  width: 400px;
  height: 230px;
  text-align: center;
  background-size: 400px 200px;
  background-repeat: no-repeat;
  background-position-y: 30px; }

.bottom-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px; }

.box {
  width: 375;
  height: 400px;
  text-align: center;
  background-color: white; }
  .box h2 {
    background-color: black;
    color: white;
    margin: 0px; }

#golden-state {
  color: #ffbb00; }

#thunder {
  color: #007bc5; }

.footer {
  height: 90px;
  background-color: #4f5961;
  width: 100%; }

.league {
  display: flex;
  flex-direction: row;
  height: 20px;
  background-color: #2d363b;
  width: 100%;
  padding-left: 20px; }
  .league div {
    width: 150px;
    height: 18px;
    color: white;
    background-color: #2d363b;
    padding-left: 15px;
    border: 1px solid black; }

#selected-league {
  background-color: #71ab3e;
  font-weight: bold; }

.arrow-left {
  width: 20px;
  height: 75px;
  background-color: #4f5961; }

.games {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #4f5961; }
  .games #selected {
    width: 560;
    background-color: #606970; }
  .games .not-selected {
    width: 110px;
    border-right: 1px solid white; }

.selected-score span {
  margin-left: 15px; }
