@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #bcbcbc; }

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.app-left {
  width: 760px; }

.app-right .box {
  height: 800px; }

.shotchart-score {
  width: 760px;
  height: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white; }

.header-divider {
  border-left: 1px solid lightgrey;
  height: 46px;
  margin-top: 25px; }

.time-place {
  text-align: center;
  margin-top: 25px; }

.team {
  display: inherit;
  padding-top: 25px; }
  .team #golden-state {
    padding-left: 20px; }
  .team #thunder {
    padding-right: 20px; }

.shotchart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white; }

.play {
  background-color: lightgrey;
  text-align: center;
  height: 20px; }

.stats {
  display: flex;
  flex-direction: column; }

.stat {
  height: 100px;
  width: 100px; }

.chart {
  background-image: url("../images/shotchart.png");
  width: 400px;
  height: 230px;
  text-align: center;
  background-size: 400px 200px;
  background-repeat: no-repeat;
  background-position-y: 30px; }

.bottom-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.box {
  width: 375;
  height: 400px;
  text-align: center;
  background-color: white; }
  .box h2 {
    background-color: black;
    color: white;
    margin: 0px; }

.score {
  font-size: 4em;
  font-weight: bold; }

.mascot {
  font-size: 2em; }

#golden-state {
  color: #ffbb00; }
  #golden-state .score {
    margin-left: 50px;
    margin-top: -15px; }
  #golden-state .location .mascot {
    margin-top: 5px;
    margin-left: 5px; }

#thunder {
  color: #007bc5; }
  #thunder .score {
    margin-right: 50px;
    margin-top: -15px; }

.footer {
  height: 100px;
  background-color: dodgerblue;
  width: 100%; }

.league {
  display: flex;
  flex-direction: row;
  height: 20px;
  background-color: darkblue;
  width: 100%;
  padding-left: 20px; }
  .league div {
    width: 150px;
    height: 18px;
    color: white;
    background-color: lightskyblue;
    padding-left: 15px;
    border: 1px solid black; }

.arrow-left {
  width: 20px;
  height: 75px;
  background-color: darkgray; }

.games {
  display: flex;
  flex-direction: row;
  height: 75px; }
  .games #selected {
    width: 560;
    background-color: gray; }
  .games .not-selected {
    width: 110px;
    background-color: darkgrey;
    border: 1px solid black; }
